.naranja{color:orange}

.verdiblanco{background-color:white;
color:green}

.naranjafuerte{color:orangered;
font-weight: bolder}

body{background-color:#C6D9EE;
font-family:sans-serif;}

h1{text-align:right;
    font-size:3rem}

.comicrojo{color:red;
    font-family: "Comic Sans", cursive;}

h2{font-size: 3rem;
font-family: monospace;
font-variant: small-caps;}
p { line-height: 200%;
    text-indent: 3em;}
